<div class="container">
  <div class="row d-flex justify-content-center d-flex align-items-center">
    <div class="col-6">
      <form class="border border-primary rounded-3 border-3 p-5 my-5">
        <h2 class="text-center mb-4">Login</h2>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="checkbox">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <h6 class="text-center mt-4">Register</h6>
      </form>
    </div>
  </div>
</div>
