.card:hover {
  transform: scale(1.01);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(234, 234, 234) 36%,
    rgba(244, 244, 244, 1) 68%,
    rgba(255, 255, 255, 1) 100%
  );
  box-shadow: 6px 9px 7px -6px rgba(0, 0, 0, 0.26);
  left: 1px;
  top: 1px;
}
