<div class="container">
  <div class="row d-flex justify-content-start m-auto">
    <div *ngFor="let u of user" class="card col-12 col-md-5 col-lg-2 m-2">
      <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="user's profile picture" />
      <div class="card-body">
        <h5 class="card-title text-center">{{u.firstname}} {{u.lastname}}</h5>
      </div>
      <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">{{u.age}}</li>
        <li class="list-group-item">{{u.email}}</li>
      </ul>
      <button class="btn btn-outline-warning text-dark my-2" (click)="destroyUser(u)">Elimina Utente</button>
    </div>
  </div>
</div>
