<div class="row card text-center my-5">
  <div class="card-header bg-warning text-dark">Join us</div>
  <div class="card-body">
    <h5 class="card-title">electronic invoice system</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" [routerLink]="['/register']" routerLinkActive="router-link-active" class="btn btn-primary mx-2 btn-sm">Register now!</a>
    <a href="#" [routerLink]="['/login-page']" routerLinkActive="router-link-active" class="btn btn-primary mx-2 btn-sm">Login</a>
    <a href="tel:+398833348434433" class="btn btn-success rounded mx-2 btn-sm"><i class="bi bi-telephone"></i> 800 666 123</a>
  </div>
</div>
