<div class="row card text-center my-5 w-50 mx-auto">
  <div class="card-header bg-warning text-dark">Unisciti a noi</div>
  <div class="card-body">
    <h5 class="card-title">systema di fatturazione eletronica</h5>
    <p class="card-text">Scegli il nostro CRM per gestire la tua azienza in modo rapido ed efficace</p>
    <a href="#" [routerLink]="['/register']" routerLinkActive="router-link-active" class="btn btn-primary mx-2 btn-sm">Registrati ora!</a>
    <a href="#" [routerLink]="['/login']" routerLinkActive="router-link-active" class="btn btn-outline-primary mx-2 btn-sm">Login</a>
    <a href="tel:+3988333433" class="btn btn-success rounded mx-2 btn-sm"><i class="bi bi-telephone"></i> 800 666 123</a>
  </div>
</div>
