

.btn {
  animation-name: btn-anim;
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  animation-delay: 0.8s;
  opacity: 0;
}

@keyframes btn-anim {
  0% {
    scale: 0.7;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}
