<!-- Modal -->
<div class="modal fade" id="modal-add-invoice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-floating my-3">
            <input id="startDate" class="form-control" type="text" />
            <label for="social">Ragione Sociale</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingPassword" />
            <label for="floatingInput">P.Iva</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Tipo Cliente</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" />
            <label for="floatingInput">Email</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" />
            <label for="floatingInput">Pec</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Telefono</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Nome Contatto</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" />
            <label for="floatingInput">Cognome contatto</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="+39" />
            <label for="floatingInput">Telefono Contatto</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" />
            <label for="floatingInput">Email Contatto</label>
          </div>
          <div class="form-floating my-3">
            <label for="floatingInput">Indirizzo Sede</label>
          </div>
        </div>
        <div class="form-floating my-3">
          <input type="text" class="form-control" id="floatingInput" />
          <label for="floatingInput">Via</label>
        </div>
        <div class="form-floating my-3">
          <input type="text" class="form-control" id="floatingInput" />
          <label for="floatingInput">Civico</label>
        </div>
        <div class="form-floating my-3">
          <input type="text" class="form-control" id="floatingInput" />
          <label for="floatingInput">CAP</label>
        </div>
        <div class="form-floating my-3">
          <input type="text" class="form-control" id="floatingInput" />
          <label for="floatingInput">Comune</label>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Add invoice</button>
        </div>
      </form>
    </div>
  </div>
</div>
