<!-- Modal -->
<div class="modal fade" id="modal-add-client" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Aggiungi cliente</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="row">
            <div class="form-floating col-6 my-3">
              <input id="startDate" class="form-control" type="text" />
              <label for="startDate">Ragione Sociale</label>
            </div>
            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">P.Iva</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Tipo Cliente</label>
            </div>

            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">PEC</label>
            </div>

            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Telefono</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Nome Contatto</label>
            </div>

            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Cognome Contatto</label>
            </div>
          </div>
          <div class="row">
            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Telefono Contatto</label>
            </div>

            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Email Contatto</label>
            </div>
          </div>

          <div class="form-floating my-3">
            <p for="floatingInput">Indirizzo Sede</p>
          </div>
          <div class="row">
            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Via, Civico, Cap</label>
            </div>

            <div class="form-floating col-6 my-3">
              <input type="text" class="form-control" id="floatingInput" />
              <label for="floatingInput">Comune (provincia)</label>
            </div>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Aggiungi Cliente</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
