<!-- Modal -->
<div class="modal fade" id="modal-add-invoice" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add invoice</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (ngSubmit)="onSubmit(invoice)" #invoice="ngForm">
        <div class="modal-body">
          <div class="form-floating my-3">
            <input name="data" id="startDate" class="form-control" type="date" ngModel />
            <label for="startDate">Data</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" name="importo" class="form-control" id="floatingPassword" placeholder="Password" ngModel />
            <label for="floatingPassword">Importo</label>
          </div>
          <div class="form-floating my-3">
            <input type="text" name="numeroFattura" class="form-control" id="floatingInput" ngModel placeholder="name@example.com" />
            <label for="floatingInput">Numero Fattura</label>
          </div>
          <div class="form-floating my-3">
            <select class="form-select" name="nomeCliente" id="nomeCliente" ngModel>
              <option selected="">*</option>
              <option>Bruno Stano</option>
              <option>Dimitri Lazuka</option>
              <option>Giovanni Urso</option>
              <option>Luigi Indaco</option>
              <option>Aras Purbijan</option>
            </select>
            <label for="floatingPassword">Nome Cliente</label>
          </div>
          <div class="form-floating my-3">
            <select class="form-select" ngModel id="pagamento" name="pagamento">
              <option selected="">*</option>

              <option>Pagata</option>
              <option>Non Pagata</option>
            </select>
            <label for="floatingPassword">Già pagata?</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Aggiungi Fattura</button>
        </div>
      </form>
    </div>
  </div>
</div>
